APP_DOMAIN="https://your_app_domain.com"
APP_KEY="your-secret-app-key-here" # Create encryption key for session data
NODE_ENV="development" # "production" on server/Vercel
DEV_FALLBACK_IP="8.8.8.8" # Dummy public IP for local geo testing

# DATABASE SUPABASE
NEXT_PUBLIC_SUPABASE_URL="your_supabase_url"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="your_supabase_key"

# CLOUDFLARE TURNSTILE
NEXT_PUBLIC_TURNSTILE_SITE_KEY="your_turnstile_site_key"
TURNSTILE_SECRET_KEY="your_turnstile_secret_key"

# GEOLOCATION API
GEOLOCATION_API_URL="your_api_geolocation"

# PLAYGROUND API
CVE_API_URL="your_cve_api_url"
EXPLOITED_URL="your_exploited_api_url"
BREACH_API_URL="your_breach_api_url"
CURRENCY_API_URL="your_currency_api_url"
FINANCE_API_URL="your_finance_api_url"
CRYPTO_API_URL="your_crypto_api_url"
STOCKS_API_URL="your_stocks_api_url"

# MARKET NEWS API
URL_MARKET_NEWS_API="your_url_market_news_api"
MARKET_NEWS_API_KEY="your_market_news_api_key"